<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-10 card card-body">
      <div class="row justify-content-center ">
        <div class="btn-group mr-2 ml-2">
          <button type="button " class="btn btn-info dropdown-toggle " data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            月份
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/filter/month/01">一月</a>
            <a class="dropdown-item" href="/filter/month/02">二月</a>
            <a class="dropdown-item" href="/filter/month/03">三月</a>
            <a class="dropdown-item" href="/filter/month/04">四月</a>
            <a class="dropdown-item" href="/filter/month/05">五月</a>
            <a class="dropdown-item" href="/filter/month/06">六月</a>
            <a class="dropdown-item" href="/filter/month/07">七月</a>
            <a class="dropdown-item" href="/filter/month/08">八月</a>
            <a class="dropdown-item" href="/filter/month/09">九月</a>
            <a class="dropdown-item" href="/filter/month/10">十月</a>
            <a class="dropdown-item" href="/filter/month/11">十一月</a>
            <a class="dropdown-item" href="/filter/month/12">十二月</a>
          </div>
        </div>

        <div class="btn-group mr-2 ml-2">
          <button type="button" class="btn btn-info dropdown-toggle " data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            類別
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/filter/category/home">家居物業</a>
            <a class="dropdown-item" href="/filter/category/travel">交通出行</a>
            <a class="dropdown-item" href="/filter/category/leisure">休閒娛樂</a>
            <a class="dropdown-item" href="/filter/category/food">餐飲食品</a>
            <a class="dropdown-item" href="/filter/category/other">其他</a>
          </div>
        </div>

      </div>
      <div class="row justify-content-center align-items-center mt-3">
        <h5 class="mr-5 ">總金額:</h5>
        <h1 data-amount="sum">0</h1>
      </div>

      {{#each records}}
      <div class="row justify-content-center">
        <div class="col-6">
          <div class="row justify-content-between align-items-center">
            <div class="row justify-content-between col-8">
              <div class="row">
                <div class="col-md-5">
                  <p class="category">{{{this.category}}}</p>
                </div>
                

                <div class="ml-3">
                  <p>{{{this.name}}}</p>
                  <p>{{{this.date}}}</p>
                </div>
              </div>



              <div class="row align-items-center">
                <p data-amount="expense">{{{this.amount}}}</p>
              </div>

            </div>
            <div class="row">
              <a href="/records/edit/{{{this._id}}}" class="btn btn-info">編輯</a>
              <form action="/records/delete/{{{this.id}}}" method="POST">
                <button type="submit" class="btn btn-danger">刪除</button>
              </form>
            </div>



          </div>
        </div>


      </div>
      {{/each}}
    </div>

  </div>

</div>

<script src="/javascripts/sum.js"></script>
<script src="/javascripts/img.js"></script>